body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #2874f0;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar input {
  padding: 8px;
  width: 250px;
}

.products {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 220px;
  text-align: center;
}

.card img {
  width: 100%;
}

button {
  background: orange;
  border: none;
  padding: 10px;
  cursor: pointer;
}